<!DOCTYPE html>
<html lang="ja">
<head>
    <mata charset="utf-8">
    <title>MEMO APP</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1>MEMO APPLICATIONs</h1>
    <%= yield %>
</body>
</html>
