<!DOCTYPE html>
<html lang="ja">

<head>
  <mata charset="utf-8">
    <title>MEMO APP</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
  <div class="container">
    <header class="header">
      <h1 class="header-title">THE MEMO<span class="header-subtitle"> ver.2</span></h1>
    </header>
    <div class="contents">
      <%= yield %>
    </div>
    <footer class="footer">
      <p>by ytakegewa</p>
    </footer>
  </div>
</body>

</html>
