<h2>Create a new MEMO</h2>
<form method="post" action="/new">
	<input required type="text" name="title" class="memo-title border" placeholder="title">
	<textarea name="body" class="memo-body border" placeholder="contents"></textarea>
  <input type= "submit" value="CREATE!" class="button add">
</form>
