<a class="btn message" href="/">BACK</a>
<div class="memo">
　<div class="memo-header">
    <h3 class="memo-title"> <%= CGI.escape_html(@memo[:title]) %> </h3>
    <p class="memo-body"> <%= CGI.escape_html(@memo[:body]) %> </p>
  </div>
  <div class="memo-footer">
    <div class="memo-revision-btn">
      <a class="btn message" href="/edit/<%= @memo[:id] %>">REVISION</a>
    </div>
    <form method="post" action="/delete/<%= @memo[:id] %>"  >
      <input type="hidden" name="_method" value="DELETE">
      <input type= "submit" value="DELETE" class="btn message delete">
    </form>
  </div>
</div>

